# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=

# JWT
JWT_SECRET=

# dotnet ef migrations script -p TraineeManagement.Data -s TraineeManagement.Api -o ./init-db/01-schema.sql --idempotent
