{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "",
    "RedisConnection": ""
  },
  "Jwt":{
    "Issuer" : "",
    "Audience" : "",
    "ExpiryMinutes" : ,
    "Secret" : ""
  },
  "StorageSettings":{
    "StorageRoot": "",
    "Buffer_Size" : , 
    "Max_Buffer_Size" :  
  },
  "RabbitMQ": {
    "HostName": "",
    "Port": "",
    "UserName": "",
    "Password": "",
    "VirtualHost": ""
  }
}